# **Creating Automated Vendor Report Creation**

## **importing packages**

In [252]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [253]:
data = pd.read_csv('Lead Report - 4th July.csv')
data.shape[0]

333

In [254]:
#data.columns.to_list()

In [255]:
data_main = data[['Prospect ID', 'Mobile Number','Phone Number', 'Email', 'Primary Source Campaign', 'eKYC Stage Code', 'Total Payment Amount', 'Created On']]
data_main.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On
0,94ac0a7c-42d3-4c8b-bcd5-7470801a4d13,6290470684,91 6290470684,psen2000gupta@gmail.com,The_mini_trader_YT1_2_July_2024,e2_Email,NaN,2024-07-04 09:41:48 AM
1,c7f84b50-73e5-4448-8e3a-1dde4ca75c28,7750035479,91 7750035479,sritamsahoo580@gmail.com,Bull_Earner_YT1_2_July_2024,e6_Onscreen_Sign,0.0,2024-07-04 09:39:44 AM
2,a53066b8-7f14-4175-baf0-6b6608dab1d0,9012564044,91 9012564044,amir007870011@gmail.com,Snehilop_Gaming_YT1_15_June_2024,e14_Activation_Process,1207.0,2024-07-04 09:22:23 AM
3,f0945c8f-1575-4e1f-84f0-01d9379d4151,7797203221,91 7797203221,NaN,The_mini_trader_YT1_2_July_2024,e1_Mobile,NaN,2024-07-03 08:49:18 PM
4,f478e107-58f9-4de4-a52a-047d1879c5f1,9777667419,91 9777667419,NaN,Bull_Earner_YT1_2_July_2024,e1_Mobile,NaN,2024-07-04 09:37:57 AM

In [256]:
data_main.columns.to_list()

['Prospect ID',
 'Mobile Number',
 'Phone Number',
 'Email',
 'Primary Source Campaign',
 'eKYC Stage Code',
 'Total Payment Amount',
 'Created On']

## **Task 1 -Fill Mob No from Phone Number where Mob No is empty**

In [257]:
data_main.isnull().sum()

Prospect ID                 0
Mobile Number               0
Phone Number                0
Email                      36
Primary Source Campaign     0
eKYC Stage Code             0
Total Payment Amount       86
Created On                  0
dtype: int64

In [258]:
# Function to extract the last 10 digits of the phone number
def extract_last_10_digits(phone):
    return str(phone)[-10:]

In [259]:
# Fill the null values in 'Mobile Number' with the last 10 digits of 'Phone Number'
data_main['Mobile Number'] = data_main.apply(
    lambda row: extract_last_10_digits(row['Phone Number']) if pd.isnull(row['Mobile Number']) or row['Mobile Number'] in ['None', 'nan'] else row['Mobile Number'],
    axis=1)

# Convert 'Mobile Number' to integer to remove any .0, then back to string
data_main['Mobile Number'] = data_main['Mobile Number'].apply(lambda x: str(int(float(x))))

In [260]:
data_main.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On
0,94ac0a7c-42d3-4c8b-bcd5-7470801a4d13,6290470684,91 6290470684,psen2000gupta@gmail.com,The_mini_trader_YT1_2_July_2024,e2_Email,NaN,2024-07-04 09:41:48 AM
1,c7f84b50-73e5-4448-8e3a-1dde4ca75c28,7750035479,91 7750035479,sritamsahoo580@gmail.com,Bull_Earner_YT1_2_July_2024,e6_Onscreen_Sign,0.0,2024-07-04 09:39:44 AM
2,a53066b8-7f14-4175-baf0-6b6608dab1d0,9012564044,91 9012564044,amir007870011@gmail.com,Snehilop_Gaming_YT1_15_June_2024,e14_Activation_Process,1207.0,2024-07-04 09:22:23 AM
3,f0945c8f-1575-4e1f-84f0-01d9379d4151,7797203221,91 7797203221,NaN,The_mini_trader_YT1_2_July_2024,e1_Mobile,NaN,2024-07-03 08:49:18 PM
4,f478e107-58f9-4de4-a52a-047d1879c5f1,9777667419,91 9777667419,NaN,Bull_Earner_YT1_2_July_2024,e1_Mobile,NaN,2024-07-04 09:37:57 AM

## **Task 2 - Fill 'e2_Email' in eKYC Stage Code colunm**

In [261]:
data_main["eKYC Stage Code"] = data_main['eKYC Stage Code'].fillna('e2_Email')

In [262]:
data_main['eKYC Stage Code'].isnull().sum()

0

In [263]:
data_main.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On
0,94ac0a7c-42d3-4c8b-bcd5-7470801a4d13,6290470684,91 6290470684,psen2000gupta@gmail.com,The_mini_trader_YT1_2_July_2024,e2_Email,NaN,2024-07-04 09:41:48 AM
1,c7f84b50-73e5-4448-8e3a-1dde4ca75c28,7750035479,91 7750035479,sritamsahoo580@gmail.com,Bull_Earner_YT1_2_July_2024,e6_Onscreen_Sign,0.0,2024-07-04 09:39:44 AM
2,a53066b8-7f14-4175-baf0-6b6608dab1d0,9012564044,91 9012564044,amir007870011@gmail.com,Snehilop_Gaming_YT1_15_June_2024,e14_Activation_Process,1207.0,2024-07-04 09:22:23 AM
3,f0945c8f-1575-4e1f-84f0-01d9379d4151,7797203221,91 7797203221,NaN,The_mini_trader_YT1_2_July_2024,e1_Mobile,NaN,2024-07-03 08:49:18 PM
4,f478e107-58f9-4de4-a52a-047d1879c5f1,9777667419,91 9777667419,NaN,Bull_Earner_YT1_2_July_2024,e1_Mobile,NaN,2024-07-04 09:37:57 AM

## **Task 3 - Adding Vendors to the data from  vendors sheet using VLOOKUP()**

In [264]:
csv_url = 'https://docs.google.com/spreadsheets/d/1osDdsySYQdoBZlguvbb_UCZt2wfRbQvhSj8B2qa_RgU/export?format=csv'

vendors_data = pd.read_csv(csv_url, header=None)
# Set the first row as the header
vendors_data.columns = vendors_data.iloc[1]
vendors_data = vendors_data.drop([0, 1]).reset_index(drop=True)
vendors_data.head()

1,Video Month,Channel,Video Link,CTC,Expected Lead counts as per CTC,YT Link,TG/YT1 Link,NaN,TG/YT1 Bitly,campaign,...,Agency,Status,TG Leads,YT Leads,Inf Leads,CPC,Old link,Old Bitly,old campaign name,NaN
0,Oct 23,Trade2Day,https://youtu.be/_akShxeeUXM,"30,000",7,https://www.mstock.com/sem-landing/zero-broker...,https://www.mstock.com/sem-landing/zero-broker...,Trade2Day,https://bit.ly/3ruhw6t,Trade2Day_TG_03rd_October,...,MRN,Paused,NaN,NaN,NaN,"30,000",NaN,NaN,NaN,NaN
1,Oct 23,Investment with Tarun,https://youtu.be/wuAg1NtzRIo?feature=shared,"40,000",9,https://www.mstock.com/sem-landing/zero-broker...,https://www.mstock.com/sem-landing/zero-broker...,Investment with Tarun,https://bit.ly/45gSFkc,Investment_with_Tarun_TG_03rd_October_2023,...,MRN,Paused,NaN,NaN,NaN,"40,000",NaN,NaN,NaN,NaN
2,Oct 23,Stock Market का Badshah (SMkB),https://youtu.be/WoCGzwg6Jwg,"20,000",4,https://www.mstock.com/sem-landing/zero-broker...,https://www.mstock.com/sem-landing/zero-broker...,Stock Market का Badshah (SMkB),https://bit.ly/3RKfr0U,Stock_Market_ka_Badshah_TG_03rd_October_2023,...,UTM,Paused,NaN,NaN,NaN,"20,000",NaN,NaN,NaN,NaN
3,Oct 23,Knowledge Jazz,https://youtu.be/U_T-gllIkww?si=PLyJ7PxUpWZHD2de,"65,000",14,https://www.mstock.com/sem-landing/zero-broker...,https://www.mstock.com/sem-landing/zero-broker...,Knowledge Jazz,https://bit.ly/46xKLnE,Knowledge_Jazz_TG_03rd_October_2023,...,UTM,Paused,29,NaN,NaN,"2,241",NaN,NaN,NaN,NaN
4,July 23,NaN,NaN,NaN,0,NaN,NaN,NaN,https://bit.ly/3ZH1FOs,trade_swings_TG_15th_july_2023,...,BS Enterprises,Paused,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [265]:
vendors_data_req = vendors_data[['TG/YT1 Bitly','campaign', 'Agency']]
vendors_data_req.columns= ['Bitly Link','Primary Source Campaign','agency']
vendors_data_req.head()

,Bitly Link,Primary Source Campaign,agency
0,https://bit.ly/3ruhw6t,Trade2Day_TG_03rd_October,MRN
1,https://bit.ly/45gSFkc,Investment_with_Tarun_TG_03rd_October_2023,MRN
2,https://bit.ly/3RKfr0U,Stock_Market_ka_Badshah_TG_03rd_October_2023,UTM
3,https://bit.ly/46xKLnE,Knowledge_Jazz_TG_03rd_October_2023,UTM
4,https://bit.ly/3ZH1FOs,trade_swings_TG_15th_july_2023,BS Enterprises

In [266]:
print(vendors_data_req.isna().sum())
print(vendors_data_req.shape[0])

Bitly Link                 361
Primary Source Campaign    362
agency                     541
dtype: int64
1143

In [267]:
vendors_data_req.dropna(how='any', inplace=True)
print(vendors_data_req.isna().sum())
print(vendors_data_req.shape[0])

Bitly Link                 0
Primary Source Campaign    0
agency                     0
dtype: int64
601

In [268]:
# Merge the data_main DataFrame with the vendors DataFrame on 'Primary Source Campaign'
data_merged = data_main.merge(vendors_data_req, on='Primary Source Campaign', how='left')
data_merged.tail()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On,Bitly Link,agency
328,d2b769c4-7997-469e-8d75-775039c21fcc,9818190875,91 9818190875,cooldoonpiyush@gmail.com,Shubh_Kadam_TG_19_June_2024,e15_Activated,99.0,2024-07-01 01:02:09 PM,NaN,NaN
329,9d6e7b6c-d45e-40d4-adb4-7195899a8c58,6232995266,91 6232995266,hg5526239@gmail.com,Shrija_Saha_YT1_13_June_2024,e15_Activated,1207.0,2024-07-01 02:02:28 PM,https://bit.ly/3VHEuTV,Raghuvansh
330,4b10a131-1166-49a6-929d-12b4f9001532,8101146116,91 8101146116,karismapramanik@gmail.com,Market_Support_YT1_3_June_2024,e15_Activated,0.0,2024-07-01 12:14:54 PM,https://bit.ly/3RcX57L,Cashjosh
331,4b0b920b-27da-472c-85eb-81b982b8cb28,8120361079,91 8120361079,NaN,7_Dreams_India_Official_YT1_18_June_2024,e1_Mobile,NaN,2024-07-01 03:16:12 PM,https://bit.ly/4b71j7P,Raghuvansh
332,ef382148-0d55-4de4-82a9-4f73f733d479,9762222286,91 9762222286,NaN,Vivek_Singh_Rana_YT1_1_June_2024,e1_Mobile,NaN,2024-07-01 12:02:02 AM,https://bit.ly/3wRxVEK,BS

In [269]:
data_merged.shape[0]

333

In [270]:
data_merged.isna().sum()

Prospect ID                  0
Mobile Number                0
Phone Number                 0
Email                       36
Primary Source Campaign      0
eKYC Stage Code              0
Total Payment Amount        86
Created On                   0
Bitly Link                 102
agency                     102
dtype: int64

## **Task 4 -Creating a new column Lead Stage**

In [271]:
# 
# a new column called lead stage 
# if eKYC has e12 OR e14 OR e15 then account opended AND Total Payment Amount is greater 100 then  
# else in proccess

In [272]:
data_merged['Total Payment Amount'].fillna(0, inplace=True)
data_merged.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On,Bitly Link,agency
0,94ac0a7c-42d3-4c8b-bcd5-7470801a4d13,6290470684,91 6290470684,psen2000gupta@gmail.com,The_mini_trader_YT1_2_July_2024,e2_Email,0.0,2024-07-04 09:41:48 AM,https://bit.ly/4coDGcx,BS
1,c7f84b50-73e5-4448-8e3a-1dde4ca75c28,7750035479,91 7750035479,sritamsahoo580@gmail.com,Bull_Earner_YT1_2_July_2024,e6_Onscreen_Sign,0.0,2024-07-04 09:39:44 AM,https://bit.ly/4cGy3py,BS
2,a53066b8-7f14-4175-baf0-6b6608dab1d0,9012564044,91 9012564044,amir007870011@gmail.com,Snehilop_Gaming_YT1_15_June_2024,e14_Activation_Process,1207.0,2024-07-04 09:22:23 AM,https://bit.ly/3XpzUuy,BS
3,f0945c8f-1575-4e1f-84f0-01d9379d4151,7797203221,91 7797203221,NaN,The_mini_trader_YT1_2_July_2024,e1_Mobile,0.0,2024-07-03 08:49:18 PM,https://bit.ly/4coDGcx,BS
4,f478e107-58f9-4de4-a52a-047d1879c5f1,9777667419,91 9777667419,NaN,Bull_Earner_YT1_2_July_2024,e1_Mobile,0.0,2024-07-04 09:37:57 AM,https://bit.ly/4cGy3py,BS

In [273]:
data_merged.insert(5, 'Lead Stage', None)
data_merged.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,Lead Stage,eKYC Stage Code,Total Payment Amount,Created On,Bitly Link,agency
0,94ac0a7c-42d3-4c8b-bcd5-7470801a4d13,6290470684,91 6290470684,psen2000gupta@gmail.com,The_mini_trader_YT1_2_July_2024,None,e2_Email,0.0,2024-07-04 09:41:48 AM,https://bit.ly/4coDGcx,BS
1,c7f84b50-73e5-4448-8e3a-1dde4ca75c28,7750035479,91 7750035479,sritamsahoo580@gmail.com,Bull_Earner_YT1_2_July_2024,None,e6_Onscreen_Sign,0.0,2024-07-04 09:39:44 AM,https://bit.ly/4cGy3py,BS
2,a53066b8-7f14-4175-baf0-6b6608dab1d0,9012564044,91 9012564044,amir007870011@gmail.com,Snehilop_Gaming_YT1_15_June_2024,None,e14_Activation_Process,1207.0,2024-07-04 09:22:23 AM,https://bit.ly/3XpzUuy,BS
3,f0945c8f-1575-4e1f-84f0-01d9379d4151,7797203221,91 7797203221,NaN,The_mini_trader_YT1_2_July_2024,None,e1_Mobile,0.0,2024-07-03 08:49:18 PM,https://bit.ly/4coDGcx,BS
4,f478e107-58f9-4de4-a52a-047d1879c5f1,9777667419,91 9777667419,NaN,Bull_Earner_YT1_2_July_2024,None,e1_Mobile,0.0,2024-07-04 09:37:57 AM,https://bit.ly/4cGy3py,BS

In [274]:
# Define the generate_lead_stage function
def generate_lead_stage(row):
    ekyc_stage_code = row['eKYC Stage Code']
    total_payment_amount = row['Total Payment Amount']
    
    if 'e12' in ekyc_stage_code or 'e14' in ekyc_stage_code or 'e15' in ekyc_stage_code:
        if total_payment_amount > 100:
            return '999-Account Opened'
        else:
            return 'L4-Account Opened'
    else:
        return 'L2-in process'

In [275]:
data_merged['Lead Stage'] = data_merged.apply(generate_lead_stage, axis=1)
data_merged.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,Lead Stage,eKYC Stage Code,Total Payment Amount,Created On,Bitly Link,agency
0,94ac0a7c-42d3-4c8b-bcd5-7470801a4d13,6290470684,91 6290470684,psen2000gupta@gmail.com,The_mini_trader_YT1_2_July_2024,L2-in process,e2_Email,0.0,2024-07-04 09:41:48 AM,https://bit.ly/4coDGcx,BS
1,c7f84b50-73e5-4448-8e3a-1dde4ca75c28,7750035479,91 7750035479,sritamsahoo580@gmail.com,Bull_Earner_YT1_2_July_2024,L2-in process,e6_Onscreen_Sign,0.0,2024-07-04 09:39:44 AM,https://bit.ly/4cGy3py,BS
2,a53066b8-7f14-4175-baf0-6b6608dab1d0,9012564044,91 9012564044,amir007870011@gmail.com,Snehilop_Gaming_YT1_15_June_2024,999-Account Opened,e14_Activation_Process,1207.0,2024-07-04 09:22:23 AM,https://bit.ly/3XpzUuy,BS
3,f0945c8f-1575-4e1f-84f0-01d9379d4151,7797203221,91 7797203221,NaN,The_mini_trader_YT1_2_July_2024,L2-in process,e1_Mobile,0.0,2024-07-03 08:49:18 PM,https://bit.ly/4coDGcx,BS
4,f478e107-58f9-4de4-a52a-047d1879c5f1,9777667419,91 9777667419,NaN,Bull_Earner_YT1_2_July_2024,L2-in process,e1_Mobile,0.0,2024-07-04 09:37:57 AM,https://bit.ly/4cGy3py,BS

In [276]:
data_merged.isna().sum()
data_merged.shape[0]

333

In [277]:
data_merged.dropna(subset=['agency', 'Bitly Link'], inplace=True)
data_merged.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,Lead Stage,eKYC Stage Code,Total Payment Amount,Created On,Bitly Link,agency
0,94ac0a7c-42d3-4c8b-bcd5-7470801a4d13,6290470684,91 6290470684,psen2000gupta@gmail.com,The_mini_trader_YT1_2_July_2024,L2-in process,e2_Email,0.0,2024-07-04 09:41:48 AM,https://bit.ly/4coDGcx,BS
1,c7f84b50-73e5-4448-8e3a-1dde4ca75c28,7750035479,91 7750035479,sritamsahoo580@gmail.com,Bull_Earner_YT1_2_July_2024,L2-in process,e6_Onscreen_Sign,0.0,2024-07-04 09:39:44 AM,https://bit.ly/4cGy3py,BS
2,a53066b8-7f14-4175-baf0-6b6608dab1d0,9012564044,91 9012564044,amir007870011@gmail.com,Snehilop_Gaming_YT1_15_June_2024,999-Account Opened,e14_Activation_Process,1207.0,2024-07-04 09:22:23 AM,https://bit.ly/3XpzUuy,BS
3,f0945c8f-1575-4e1f-84f0-01d9379d4151,7797203221,91 7797203221,NaN,The_mini_trader_YT1_2_July_2024,L2-in process,e1_Mobile,0.0,2024-07-03 08:49:18 PM,https://bit.ly/4coDGcx,BS
4,f478e107-58f9-4de4-a52a-047d1879c5f1,9777667419,91 9777667419,NaN,Bull_Earner_YT1_2_July_2024,L2-in process,e1_Mobile,0.0,2024-07-04 09:37:57 AM,https://bit.ly/4cGy3py,BS

In [278]:
data_merged.shape[0]

231

## **dropping unused columns**

In [279]:
data_merged.drop(columns=['Prospect ID', 'Phone Number', 'Email'], inplace=True)
data_merged.head()

,Mobile Number,Primary Source Campaign,Lead Stage,eKYC Stage Code,Total Payment Amount,Created On,Bitly Link,agency
0,6290470684,The_mini_trader_YT1_2_July_2024,L2-in process,e2_Email,0.0,2024-07-04 09:41:48 AM,https://bit.ly/4coDGcx,BS
1,7750035479,Bull_Earner_YT1_2_July_2024,L2-in process,e6_Onscreen_Sign,0.0,2024-07-04 09:39:44 AM,https://bit.ly/4cGy3py,BS
2,9012564044,Snehilop_Gaming_YT1_15_June_2024,999-Account Opened,e14_Activation_Process,1207.0,2024-07-04 09:22:23 AM,https://bit.ly/3XpzUuy,BS
3,7797203221,The_mini_trader_YT1_2_July_2024,L2-in process,e1_Mobile,0.0,2024-07-03 08:49:18 PM,https://bit.ly/4coDGcx,BS
4,9777667419,Bull_Earner_YT1_2_July_2024,L2-in process,e1_Mobile,0.0,2024-07-04 09:37:57 AM,https://bit.ly/4cGy3py,BS

## **creating a pivot**

In [280]:
data_merged.columns = data_merged.columns.astype(str)
data_merged['Total Payment Amount'] = data_merged['Total Payment Amount'].astype('int64')
data_merged.dtypes

Mobile Number              object
Primary Source Campaign    object
Lead Stage                 object
eKYC Stage Code            object
Total Payment Amount        int64
Created On                 object
Bitly Link                 object
agency                     object
dtype: object

In [281]:
data_merged = data_merged.reset_index(drop=True)

In [282]:
data_merged_pivot = pd.pivot_table(data_merged, 
                                   index='Primary Source Campaign',
                                   columns='Lead Stage',
                                   values='Mobile Number',
                                   aggfunc='count',
                                   fill_value=0)
data_merged_pivot

Lead Stage,999-Account Opened,L2-in process,L4-Account Opened
Primary Source Campaign,,,
7_Dreams_India_Official_YT1_18_June_2024,27,21,2
Alok_Games_YT1_14_June_2024,0,0,1
Bull_Earner_YT1_2_July_2024,0,3,6
Charging_Point_Hindi_YT1_18_June_2024,2,0,0
Chaudhary_Tips_YT1_10_June_2024,0,1,0
Market_Support_YT1_11_June_2024,13,1,1
Market_Support_YT1_3_June_2024,0,0,1
Mission_Market_YT1_14_June_2024,2,0,0
Mr._Rishi_YT1_27_May_2024,1,0,0
My_stock_World_YT1_18_June_2024,18,5,12
Ready_To_Invest_YT1_7_June_2024,4,0,0
Rs_Fintech_YT1_13_June_2024,0,4,2
Rs_Fintech_YT1_6_June_2024,1,0,0
Share_Market_Analysis_YT1_1_July_2024,0,1,10
Shrija_Saha_YT1_13_June_2024,2,0,0
Snehilop_Gaming_YT1_15_June_2024,30,3,2
The_mini_trader_YT1_12_June_2024,2,2,0
The_mini_trader_YT1_2_July_2024,0,21,27
Vivek_Singh_Rana_YT1_1_June_2024,0,2,0
aayush_SSM_YT1_6_June_2024,0,1,0

In [283]:
print(data_merged_pivot.shape[0])
print(data_merged['Primary Source Campaign'].nunique())

20
20

In [284]:
sum_row = data_merged_pivot.sum()
sum_row.name = 'Total'
data_merged_pivot = pd.concat([data_merged_pivot, pd.DataFrame(sum_row).T])

In [285]:
data_merged_pivot = data_merged_pivot.reset_index()
data_merged_pivot.tail()

Lead Stage,index,999-Account Opened,L2-in process,L4-Account Opened
16,The_mini_trader_YT1_12_June_2024,2,2,0
17,The_mini_trader_YT1_2_July_2024,0,21,27
18,Vivek_Singh_Rana_YT1_1_June_2024,0,2,0
19,aayush_SSM_YT1_6_June_2024,0,1,0
20,Total,102,65,64

In [286]:
# Rename the columns as needed
data_merged_pivot.columns.name = None
data_merged_pivot.columns = ['Primary Source Campaign', '999-Account Opened', 'L2-in process', 'L4-Account Opened']
data_merged_pivot.head()

,Primary Source Campaign,999-Account Opened,L2-in process,L4-Account Opened
0,7_Dreams_India_Official_YT1_18_June_2024,27,21,2
1,Alok_Games_YT1_14_June_2024,0,0,1
2,Bull_Earner_YT1_2_July_2024,0,3,6
3,Charging_Point_Hindi_YT1_18_June_2024,2,0,0
4,Chaudhary_Tips_YT1_10_June_2024,0,1,0

## **merging the Bitly Link	with Pivot**

In [287]:
# Create a dictionary to map 'Primary Source Campaign' to 'Bitly Link'
campaign_to_bitly = data_merged.set_index('Primary Source Campaign')['Bitly Link'].to_dict()

In [288]:
# Add 'Bitly Link' column to data_merged_pivot by mapping
data_merged_pivot['Bitly Link'] = data_merged_pivot['Primary Source Campaign'].map(campaign_to_bitly)

In [289]:
data_merged_pivot.shape[0]

21

In [290]:
data_merged_pivot

,Primary Source Campaign,999-Account Opened,L2-in process,L4-Account Opened,Bitly Link
0,7_Dreams_India_Official_YT1_18_June_2024,27,21,2,https://bit.ly/4b71j7P
1,Alok_Games_YT1_14_June_2024,0,0,1,https://bit.ly/4bYYYwR
2,Bull_Earner_YT1_2_July_2024,0,3,6,https://bit.ly/4cGy3py
3,Charging_Point_Hindi_YT1_18_June_2024,2,0,0,https://bit.ly/3z8evw1
4,Chaudhary_Tips_YT1_10_June_2024,0,1,0,https://bit.ly/3x3kyRY
5,Market_Support_YT1_11_June_2024,13,1,1,https://bit.ly/3RpGdur
6,Market_Support_YT1_3_June_2024,0,0,1,https://bit.ly/3RcX57L
7,Mission_Market_YT1_14_June_2024,2,0,0,https://bit.ly/3z36rMY
8,Mr._Rishi_YT1_27_May_2024,1,0,0,https://bit.ly/4dV1G8d
9,My_stock_World_YT1_18_June_2024,18,5,12,https://bit.ly/3zgzzjM
10,Ready_To_Invest_YT1_7_June_2024,4,0,0,https://bit.ly/3yQVG0i
11,Rs_Fintech_YT1_13_June_2024,0,4,2,https://bit.ly/3VrgCSW
12,Rs_Fintech_YT1_6_June_2024,1,0,0,https://bit.ly/4b09NxK
13,Share_Market_Analysis_YT1_1_July_2024,0,1,10,https://bit.ly/3zu0JnB
14,Shrija_Saha_YT1_13_June_2024,2,0,0,https://bit.ly/3VHEuTV
15,Snehilop_Gaming_YT1_15_June_2024,30,3,2,https://bit.ly/3XpzUuy
16,The_mini_trader_YT1_12_June_2024,2,2,0,https://bit.ly/4bXYrLE
17,The_mini_trader_YT1_2_July_2024,0,21,27,https://bit.ly/4coDGcx
18,Vivek_Singh_Rana_YT1_1_June_2024,0,2,0,https://bit.ly/3wRxVEK
19,aayush_SSM_YT1_6_June_2024,0,1,0,https://bit.ly/4cbb0mA
20,Total,102,65,64,NaN

## **Coverting all results to EXCEL File**

In [291]:
with pd.ExcelWriter('excel files//output.xlsx', engine='xlsxwriter') as writer:
    data_merged.to_excel(writer ,sheet_name='Data Cleaned', index=False)
    data_merged_pivot.to_excel(writer, sheet_name='Pivot', index=False)