# **Creating Automated Vendor Report Creation**

## **importing packages**

In [2]:
from io import BytesIO
import pandas as pd
import warnings
import requests
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv('Lead Report - 27th June.csv')
data.head()

,Prospect ID,Lead Number,Source Referrer,Last Notable Activity,Last Notable Activity Date,Last Visit Date,Related Landing Page Id,First Landing Page Submission Id,First Landing Page Submission Date,Last Activity,...,Referral Read Post Payment WhatsApp,Sub Sub Disposition,Callback SMS Sent,FnO Rejection Delivery,FnO Rejection Read,Non FnO Rejection Delivery,Non FnO Rejection Read,Callback SMS Sent Date,Rejection WA Sent,Lead Name
0,6cf3ad64-1e69-45f7-9cd9-0b1207149ded,5797500,NaN,Modified,2024-06-27 10:33:39 AM,2024-06-27 10:32:56 AM,NaN,NaN,NaN,Outbound Phone Call Activity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[No Name]
1,51822e7e-b4a4-45ae-a000-3e043de211e6,5798125,NaN,Modified,2024-06-27 10:33:29 AM,2024-06-27 10:33:02 AM,NaN,NaN,NaN,Outbound Phone Call Activity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[No Name]
2,cc2b16d6-a198-44da-9b09-414dc491d80a,5739923,NaN,Modified,2024-06-27 10:33:27 AM,2024-06-27 10:33:26 AM,NaN,NaN,NaN,Call Disposition,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUKMINI KRISHNA RAUT
3,f50a98d3-3a34-4fc3-ba45-b6ae72b60410,5798144,NaN,Modified,2024-06-27 10:33:11 AM,2024-06-27 10:32:36 AM,NaN,NaN,NaN,Outbound Phone Call Activity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[No Name]
4,e4fa7d46-a5ab-4540-bd8b-f42689f8f66f,5783013,NaN,Modified,2024-06-27 10:33:07 AM,2024-06-27 10:32:27 AM,NaN,NaN,NaN,Outbound Phone Call Activity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SARABJIT SINGH

In [ ]:
data.columns.to_list()

## **extracting required columns**

In [4]:
data_main = data[['Prospect ID', 'Mobile Number','Phone Number', 'Email', 'Primary Source Campaign', 'eKYC Stage Code', 'Total Payment Amount', 'Created On']]
data_main.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On
0,6cf3ad64-1e69-45f7-9cd9-0b1207149ded,9.798394e+09,91 9798394005,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 09:05:25 PM
1,51822e7e-b4a4-45ae-a000-3e043de211e6,7.374997e+09,91 7374996851,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 10:39:21 PM
2,cc2b16d6-a198-44da-9b09-414dc491d80a,9.086708e+09,91 9086707739,morero7329@nolanzip.com,Diversify_knowledge_YT1_23_May_2024,e15_Activated,0.0,2024-06-22 05:07:06 PM
3,f50a98d3-3a34-4fc3-ba45-b6ae72b60410,6.395005e+09,91 6395005269,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 10:42:20 PM
4,e4fa7d46-a5ab-4540-bd8b-f42689f8f66f,9.988777e+09,91 9988777117,sarabjil77@gmail.com,Trading_With_Karol_YT1_11_May_2024_{click_id},e4_Payment,NaN,2024-06-25 07:09:18 PM

In [5]:
data_main.columns.to_list()

['Prospect ID',
 'Mobile Number',
 'Phone Number',
 'Email',
 'Primary Source Campaign',
 'eKYC Stage Code',
 'Total Payment Amount',
 'Created On']

## **Task 1 -Fill Mob No from Phone Number where Mob No is empty**

In [6]:
data_main.isnull().sum()

Prospect ID                   0
Mobile Number                18
Phone Number                  0
Email                      6973
Primary Source Campaign       0
eKYC Stage Code              12
Total Payment Amount       8212
Created On                    0
dtype: int64

In [7]:
# Function to extract the last 10 digits of the phone number
def extract_last_10_digits(phone):
    return str(phone)[-10:]

In [8]:
# Fill the null values in 'Mobile Number' with the last 10 digits of 'Phone Number'
data_main['Mobile Number'] = data_main.apply(
    lambda row: extract_last_10_digits(row['Phone Number']) if pd.isnull(row['Mobile Number']) or row['Mobile Number'] in ['None', 'nan'] else row['Mobile Number'],
    axis=1)

# Convert 'Mobile Number' to integer to remove any .0, then back to string
data_main['Mobile Number'] = data_main['Mobile Number'].apply(lambda x: str(int(float(x))))

In [9]:
data_main.head()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On
0,6cf3ad64-1e69-45f7-9cd9-0b1207149ded,9798394005,91 9798394005,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 09:05:25 PM
1,51822e7e-b4a4-45ae-a000-3e043de211e6,7374996851,91 7374996851,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 10:39:21 PM
2,cc2b16d6-a198-44da-9b09-414dc491d80a,9086707739,91 9086707739,morero7329@nolanzip.com,Diversify_knowledge_YT1_23_May_2024,e15_Activated,0.0,2024-06-22 05:07:06 PM
3,f50a98d3-3a34-4fc3-ba45-b6ae72b60410,6395005269,91 6395005269,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 10:42:20 PM
4,e4fa7d46-a5ab-4540-bd8b-f42689f8f66f,9988777117,91 9988777117,sarabjil77@gmail.com,Trading_With_Karol_YT1_11_May_2024_{click_id},e4_Payment,NaN,2024-06-25 07:09:18 PM

## **Task 2 - Fill 'e2_Email' in eKYC Stage Code colunm**

In [10]:
data_main["eKYC Stage Code"] = data_main['eKYC Stage Code'].fillna('e2_Email')

In [11]:
data_main['eKYC Stage Code'].isnull().sum()

0

In [12]:
data_main.tail()

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On
13314,6c202ecb-3603-44cb-9ccc-35855b15a388,8630651350,91 8630651350,armanxlonn@gmail.com,Mr_Star_Sahil_YT1_28_May_2024,e14_Activation_Process,1207.0,2024-06-01 09:08:24 PM
13315,2f3a89c6-d486-4325-a41d-1d70759041d0,8005446039,91 8005446039,skitax.gupta@gmail.com,Swing_Trader_-_The_Art_Of_Learning_YT_1_June_2024,e4_Payment,2415.0,2024-06-01 07:20:50 PM
13316,21c2d6f4-5dbb-4910-86d2-24aa27ae59fb,8076044334,91 8076044334,poojateewari164@gmail.com,DEFUSED_DEVIL_YT1_28_May_2024,e14_Activation_Process,1207.0,2024-06-01 01:39:57 PM
13317,fe2793fb-5204-4239-b3b5-e7efc2d71ab4,6396955706,91 6396955706,rahuljativ427@gmail.com,DEFUSED_DEVIL_YT1_28_May_2024,e14_Activation_Process,1207.0,2024-06-01 04:39:22 PM
13318,b00acab5-0781-4c21-b5cd-dd22f30616c0,6399931514,91 6399931514,a3869673@gmail.com,Mr_Star_Sahil_YT1_28_May_2024,e14_Activation_Process,0.0,2024-06-01 01:21:47 PM

## **Task 3 - Adding Vendors to the data from  vendors sheet using VLOOKUP()**

In [28]:
csv_url = 'https://docs.google.com/spreadsheets/d/1osDdsySYQdoBZlguvbb_UCZt2wfRbQvhSj8B2qa_RgU/export?format=csv'

vendors_data = pd.read_csv(csv_url, header=None)
# Set the first row as the header
vendors_data.columns = vendors_data.iloc[1]
vendors_data = vendors_data.drop([0, 1]).reset_index(drop=True)
vendors_data.head()

1,Video Month,Channel,Video Link,CTC,Expected Lead counts as per CTC,YT Link,TG/YT1 Link,NaN,TG/YT1 Bitly,campaign,...,Agency,Status,TG Leads,YT Leads,Inf Leads,CPC,Old link,Old Bitly,old campaign name,NaN
0,Oct 23,Trade2Day,https://youtu.be/_akShxeeUXM,"30,000",7,https://www.mstock.com/sem-landing/zero-broker...,https://www.mstock.com/sem-landing/zero-broker...,Trade2Day,https://bit.ly/3ruhw6t,Trade2Day_TG_03rd_October,...,MRN,Paused,NaN,NaN,NaN,"30,000",NaN,NaN,NaN,NaN
1,Oct 23,Investment with Tarun,https://youtu.be/wuAg1NtzRIo?feature=shared,"40,000",9,https://www.mstock.com/sem-landing/zero-broker...,https://www.mstock.com/sem-landing/zero-broker...,Investment with Tarun,https://bit.ly/45gSFkc,Investment_with_Tarun_TG_03rd_October_2023,...,MRN,Paused,NaN,NaN,NaN,"40,000",NaN,NaN,NaN,NaN
2,Oct 23,Stock Market का Badshah (SMkB),https://youtu.be/WoCGzwg6Jwg,"20,000",4,https://www.mstock.com/sem-landing/zero-broker...,https://www.mstock.com/sem-landing/zero-broker...,Stock Market का Badshah (SMkB),https://bit.ly/3RKfr0U,Stock_Market_ka_Badshah_TG_03rd_October_2023,...,UTM,Paused,NaN,NaN,NaN,"20,000",NaN,NaN,NaN,NaN
3,Oct 23,Knowledge Jazz,https://youtu.be/U_T-gllIkww?si=PLyJ7PxUpWZHD2de,"65,000",14,https://www.mstock.com/sem-landing/zero-broker...,https://www.mstock.com/sem-landing/zero-broker...,Knowledge Jazz,https://bit.ly/46xKLnE,Knowledge_Jazz_TG_03rd_October_2023,...,UTM,Paused,29,NaN,NaN,"2,241",NaN,NaN,NaN,NaN
4,July 23,NaN,NaN,NaN,0,NaN,NaN,NaN,https://bit.ly/3ZH1FOs,trade_swings_TG_15th_july_2023,...,BS Enterprises,Paused,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
vendors = pd.DataFrame(vendors_data)

# Merge the data_main DataFrame with the vendors DataFrame on 'Primary Source Campaign'
data_main = data_main.merge(vendors, on='Primary Source Campaign', how='left')

,Prospect ID,Mobile Number,Phone Number,Email,Primary Source Campaign,eKYC Stage Code,Total Payment Amount,Created On,Vendor Name
0,6cf3ad64-1e69-45f7-9cd9-0b1207149ded,9798394005,91 9798394005,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 09:05:25 PM,Vendor A
1,6cf3ad64-1e69-45f7-9cd9-0b1207149ded,9798394005,91 9798394005,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 09:05:25 PM,Vendor A
2,6cf3ad64-1e69-45f7-9cd9-0b1207149ded,9798394005,91 9798394005,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 09:05:25 PM,Vendor A
3,51822e7e-b4a4-45ae-a000-3e043de211e6,7374996851,91 7374996851,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 10:39:21 PM,Vendor A
4,51822e7e-b4a4-45ae-a000-3e043de211e6,7374996851,91 7374996851,NaN,Bazar_Ke_Pandit_YT1_6_June_2024,e1_Mobile,NaN,2024-06-26 10:39:21 PM,Vendor A

In [ ]:
data_main.head()